# Checkpoint Three: Cleaning Data

Now you are ready to clean your data. Before starting coding, provide the link to your dataset below.

My dataset: https://www.kaggle.com/datasets/tomaslui/healthcare-dataset

Import the necessary libraries and create your dataframe(s).

In [13]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Create the dataframes for all the 9 Files
# DimCptCode
# DimDate
# DimDiagnosisCode
# DimLocation
# DimPatient
# DimPhysician
# DimPayer
# DimTransaction
# FactTable

#read in dataset
df_fact = pd.read_csv('dataset/csv/FactTable.csv')
df_location = pd.read_csv('dataset/csv/DimLocation.csv')
df_patient = pd.read_csv('dataset/csv/DimPatient.csv')
df_physician = pd.read_csv('dataset/csv/DimPhysician.csv')
df_date = pd.read_csv('dataset/csv/DimDate.csv')
df_cptcode = pd.read_csv('dataset/csv/DimCptCode.csv')
df_diagnosiscode = pd.read_csv('dataset/csv/DimDiagnosisCode.csv')
df_payer = pd.read_csv('dataset/csv/DimPayer.csv')

#Merge all the dataframes
df = pd.merge(pd.merge(pd.merge(pd.merge(pd.merge(pd.merge(pd.merge(df_fact, df_location, on='dimLocationPK'), df_patient, on='dimPatientPK', suffixes=('', '_drop')), df_physician, on='dimPhysicianPK'), df_date, on='dimDateServicePK'),df_cptcode,
on ='dimCPTCodePK'),df_diagnosiscode,on='dimDiagnosisCodePK'),df_payer, on='dimPayerPK')             
#df.drop(['PatientNumber_drop'], axis=1, inplace=True)
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50516 entries, 0 to 50515
Data columns (total 40 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   FactTablePK               50516 non-null  int64
 1   dimPatientPK              50516 non-null  int64
 2   dimPhysicianPK            50516 non-null  int64
 3   dimDateServicePK          50516 non-null  int64
 4   dimDatePostPK             50516 non-null  int64
 5   dimCPTCodePK              50516 non-null  int64
 6   dimPayerPK                50516 non-null  int64
 7   dimTransactionPK          50516 non-null  int64
 8   dimLocationPK             50516 non-null  int64
 9   PatientNumber             50516 non-null  int64
 10  dimDiagnosisCodePK        50516 non-null  int64
 11  CPTUnits                  50516 non-null  int64
 12  GrossCharge               50516 non-null  float64
 13  LocationName              50516 non-null  object
 14  PatientNumber_drop        50516 non-null  int64
 15  FirstName                 50516 non-null  object
 16  LastName                  50516 non-null  object
 17  Email                     50516 non-null  object
 18  PatientGender             50516 non-null  object
 19  PatientAge                50516 non-null  int64
 20  City                      50516 non-null  object
 21  State                     50516 non-null  object
 22  ProviderNpi               50516 non-null  int64
 23  ProviderName              50516 non-null  object
 24  ProviderSpecialty         50516 non-null  object
 25  ProviderFTE               50516 non-null  float64
 26  Date                      50516 non-null  object
 27  Year                      50516 non-null  int64
 28  Month                     50516 non-null  object
 29  MonthPeriod               50516 non-null  int64
 30  MonthYear                 50516 non-null  object
 31  Day                       50516 non-null  int64
 32  DayName                   50516 non-null  object
 33  CptCode                   50516 non-null  object
 34  CptDesc                   50516 non-null  object
 35  CptGrouping               50516 non-null  object
 36  DiagnosisCode             50516 non-null  object
 37  DiagnosisCodeDescription  50516 non-null  object
 38  DiagnosisCodeGroup        50516 non-null  object
 39  PayerName                 50516 non-null  object
dtypes: float64(2), int64(18), object(20)
memory usage: 15.4+ MB

,FactTablePK,dimPatientPK,dimPhysicianPK,dimDateServicePK,dimDatePostPK,dimCPTCodePK,dimPayerPK,dimTransactionPK,dimLocationPK,PatientNumber,...,MonthYear,Day,DayName,CptCode,CptDesc,CptGrouping,DiagnosisCode,DiagnosisCodeDescription,DiagnosisCodeGroup,PayerName
0,1082164042,6066415,216412,20200528,20191215,583482,58987,49468,785522,21384136,...,May 2020,28,Thursday,J0585,"Injection,onabotulinumtoxina",HCPCS Level II Codes,R252,Cramp and spasm,Symptoms and signs involving the nervous and m...,Commercial
1,1027823678,5810482,216111,20200501,20191215,581655,98735,50858,786431,21387258,...,May 2020,1,Friday,33533,Cabg arterial single,Surgery,I251,Atherosclerotic heart disease,Ischaemic heart diseases,Medicare
2,922963624,5337135,215646,20200102,20191215,596355,92873,53713,786027,21381441,...,January 2020,2,Thursday,33361,Replace aortic valve perq,Surgery,I350,Aortic (valve) stenosis,Other forms of heart disease,Other
3,923120306,5337135,215646,20200102,20191215,596355,58987,53713,786027,21381441,...,January 2020,2,Thursday,33361,Replace aortic valve perq,Surgery,I350,Aortic (valve) stenosis,Other forms of heart disease,Commercial
4,951760836,5337135,215646,20200205,20191215,596355,98735,53713,786027,21381441,...,February 2020,5,Wednesday,33361,Replace aortic valve perq,Surgery,I350,Aortic (valve) stenosis,Other forms of heart disease,Medicare

## Missing Data

Test your dataset for missing data and handle it as needed. Make notes in the form of code comments as to your thought process.

In [14]:
# Try to find some missing data with isna() function!
df.isna().sum()


# No missing data in the dataset

FactTablePK                 0
dimPatientPK                0
dimPhysicianPK              0
dimDateServicePK            0
dimDatePostPK               0
dimCPTCodePK                0
dimPayerPK                  0
dimTransactionPK            0
dimLocationPK               0
PatientNumber               0
dimDiagnosisCodePK          0
CPTUnits                    0
GrossCharge                 0
LocationName                0
PatientNumber_drop          0
FirstName                   0
LastName                    0
Email                       0
PatientGender               0
PatientAge                  0
City                        0
State                       0
ProviderNpi                 0
ProviderName                0
ProviderSpecialty           0
ProviderFTE                 0
Date                        0
Year                        0
Month                       0
MonthPeriod                 0
MonthYear                   0
Day                         0
DayName                     0
CptCode                     0
CptDesc                     0
CptGrouping                 0
DiagnosisCode               0
DiagnosisCodeDescription    0
DiagnosisCodeGroup          0
PayerName                   0
dtype: int64

In [15]:
# Finding missing data percentage which is more easy to read!
for col in df.columns:
    pct_missing = np.mean(df[col].isnull())
    print('{} - {}%'.format(col, round(pct_missing*100)))
# There is no missing data

FactTablePK - 0%
dimPatientPK - 0%
dimPhysicianPK - 0%
dimDateServicePK - 0%
dimDatePostPK - 0%
dimCPTCodePK - 0%
dimPayerPK - 0%
dimTransactionPK - 0%
dimLocationPK - 0%
PatientNumber - 0%
dimDiagnosisCodePK - 0%
CPTUnits - 0%
GrossCharge - 0%
LocationName - 0%
PatientNumber_drop - 0%
FirstName - 0%
LastName - 0%
Email - 0%
PatientGender - 0%
PatientAge - 0%
City - 0%
State - 0%
ProviderNpi - 0%
ProviderName - 0%
ProviderSpecialty - 0%
ProviderFTE - 0%
Date - 0%
Year - 0%
Month - 0%
MonthPeriod - 0%
MonthYear - 0%
Day - 0%
DayName - 0%
CptCode - 0%
CptDesc - 0%
CptGrouping - 0%
DiagnosisCode - 0%
DiagnosisCodeDescription - 0%
DiagnosisCodeGroup - 0%
PayerName - 0%

## Irregular Data

Detect outliers in your dataset and handle them as needed. Use code comments to make notes about your thought process.

In [16]:
# Keep an eye out for outliers!
print(df.drop(['FactTablePK', 'dimPatientPK', 'dimPhysicianPK', 'dimDatePostPK', 'dimDateServicePK', 'dimCPTCodePK', 'dimPayerPK', 'dimTransactionPK', 'dimLocationPK','PatientNumber', 'ProviderNpi', 'dimDiagnosisCodePK','Year','MonthPeriod','Day'], axis=1).describe())

#Found Outliers in a dataset with negative values which can indicate unusual or unexpected data points that deviate significantly from the majority of the data.
#GrossCharge and CPTUnits cannot be negative so i want to delete the rows with negative values.
df = df[df['GrossCharge'] >= 0]
df = df[df['CPTUnits'] >= 0]
df.info()
df.head()

           CPTUnits   GrossCharge  PatientNumber_drop    PatientAge  \
count  50516.000000  50516.000000        5.051600e+04  50516.000000
mean       1.442533    168.858021        2.137705e+07     44.541432
std        6.367551    157.815359        1.009447e+04     26.288297
min     -600.000000  -6600.000000        2.135867e+07      0.000000
25%        1.000000     99.000000        2.136854e+07     21.000000
50%        1.000000    162.000000        2.137732e+07     45.000000
75%        2.000000    232.000000        2.138577e+07     68.000000
max      600.000000   6600.000000        2.139393e+07     90.000000

        ProviderFTE
count  50516.000000
mean       0.799212
std        0.249067
min        0.000000
25%        0.670000
50%        0.900000
75%        1.000000
max        1.000000
<class 'pandas.core.frame.DataFrame'>
Index: 48856 entries, 830 to 50515
Data columns (total 40 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   FactTablePK               48856 non-null  int64
 1   dimPatientPK              48856 non-null  int64
 2   dimPhysicianPK            48856 non-null  int64
 3   dimDateServicePK          48856 non-null  int64
 4   dimDatePostPK             48856 non-null  int64
 5   dimCPTCodePK              48856 non-null  int64
 6   dimPayerPK                48856 non-null  int64
 7   dimTransactionPK          48856 non-null  int64
 8   dimLocationPK             48856 non-null  int64
 9   PatientNumber             48856 non-null  int64
 10  dimDiagnosisCodePK        48856 non-null  int64
 11  CPTUnits                  48856 non-null  int64
 12  GrossCharge               48856 non-null  float64
 13  LocationName              48856 non-null  object
 14  PatientNumber_drop        48856 non-null  int64
 15  FirstName                 48856 non-null  object
 16  LastName                  48856 non-null  object
 17  Email                     48856 non-null  object
 18  PatientGender             48856 non-null  object
 19  PatientAge                48856 non-null  int64
 20  City                      48856 non-null  object
 21  State                     48856 non-null  object
 22  ProviderNpi               48856 non-null  int64
 23  ProviderName              48856 non-null  object
 24  ProviderSpecialty         48856 non-null  object
 25  ProviderFTE               48856 non-null  float64
 26  Date                      48856 non-null  object
 27  Year                      48856 non-null  int64
 28  Month                     48856 non-null  object
 29  MonthPeriod               48856 non-null  int64
 30  MonthYear                 48856 non-null  object
 31  Day                       48856 non-null  int64
 32  DayName                   48856 non-null  object
 33  CptCode                   48856 non-null  object
 34  CptDesc                   48856 non-null  object
 35  CptGrouping               48856 non-null  object
 36  DiagnosisCode             48856 non-null  object
 37  DiagnosisCodeDescription  48856 non-null  object
 38  DiagnosisCodeGroup        48856 non-null  object
 39  PayerName                 48856 non-null  object
dtypes: float64(2), int64(18), object(20)
memory usage: 15.3+ MB

,FactTablePK,dimPatientPK,dimPhysicianPK,dimDateServicePK,dimDatePostPK,dimCPTCodePK,dimPayerPK,dimTransactionPK,dimLocationPK,PatientNumber,...,MonthYear,Day,DayName,CptCode,CptDesc,CptGrouping,DiagnosisCode,DiagnosisCodeDescription,DiagnosisCodeGroup,PayerName
830,1081452351,5766231,215711,20200103,20191215,606645,58987,58168,786027,21373832,...,January 2020,3,Friday,3045F,Hg a1c level 7.0-9.0%,CPT Cat II Codes,E109,Type 1 diabetes mellitus,Diabetes mellitus,Commercial
831,1081589303,4995965,215711,20200103,20191215,603537,58987,50146,786027,21390646,...,January 2020,3,Friday,3044F,Hg a1c level lt 7.0%,CPT Cat II Codes,E109,Type 1 diabetes mellitus,Diabetes mellitus,Commercial
832,1108608022,4991714,216283,20191217,20191215,603537,58987,50146,785926,21386880,...,December 2019,17,Tuesday,3044F,Hg a1c level lt 7.0%,CPT Cat II Codes,E119,Type 2 diabetes mellitus,Diabetes mellitus,Commercial
833,1108608034,5513475,216894,20191217,20191215,603537,58987,50146,786027,21372285,...,December 2019,17,Tuesday,3044F,Hg a1c level lt 7.0%,CPT Cat II Codes,Z000,General medical examination,Persons encountering health services for exami...,Commercial
834,1108608043,5409738,215945,20191217,20191215,603537,58987,50146,786027,21372124,...,December 2019,17,Tuesday,3044F,Hg a1c level lt 7.0%,CPT Cat II Codes,E119,Type 2 diabetes mellitus,Diabetes mellitus,Commercial

## Unnecessary Data

Look for the different types of unnecessary data in your dataset and address it as needed. Make sure to use code comments to illustrate your thought process.

In [17]:
# The column name 'PatientNumber_drop' in the DimFact Table is duplicate of the 'PatientNumber' column in the DimPatient table, so i want to drop the column.
df.drop(columns='PatientNumber_drop',inplace=True)
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
Index: 48856 entries, 830 to 50515
Data columns (total 39 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   FactTablePK               48856 non-null  int64
 1   dimPatientPK              48856 non-null  int64
 2   dimPhysicianPK            48856 non-null  int64
 3   dimDateServicePK          48856 non-null  int64
 4   dimDatePostPK             48856 non-null  int64
 5   dimCPTCodePK              48856 non-null  int64
 6   dimPayerPK                48856 non-null  int64
 7   dimTransactionPK          48856 non-null  int64
 8   dimLocationPK             48856 non-null  int64
 9   PatientNumber             48856 non-null  int64
 10  dimDiagnosisCodePK        48856 non-null  int64
 11  CPTUnits                  48856 non-null  int64
 12  GrossCharge               48856 non-null  float64
 13  LocationName              48856 non-null  object
 14  FirstName                 48856 non-null  object
 15  LastName                  48856 non-null  object
 16  Email                     48856 non-null  object
 17  PatientGender             48856 non-null  object
 18  PatientAge                48856 non-null  int64
 19  City                      48856 non-null  object
 20  State                     48856 non-null  object
 21  ProviderNpi               48856 non-null  int64
 22  ProviderName              48856 non-null  object
 23  ProviderSpecialty         48856 non-null  object
 24  ProviderFTE               48856 non-null  float64
 25  Date                      48856 non-null  object
 26  Year                      48856 non-null  int64
 27  Month                     48856 non-null  object
 28  MonthPeriod               48856 non-null  int64
 29  MonthYear                 48856 non-null  object
 30  Day                       48856 non-null  int64
 31  DayName                   48856 non-null  object
 32  CptCode                   48856 non-null  object
 33  CptDesc                   48856 non-null  object
 34  CptGrouping               48856 non-null  object
 35  DiagnosisCode             48856 non-null  object
 36  DiagnosisCodeDescription  48856 non-null  object
 37  DiagnosisCodeGroup        48856 non-null  object
 38  PayerName                 48856 non-null  object
dtypes: float64(2), int64(17), object(20)
memory usage: 14.9+ MB

,FactTablePK,dimPatientPK,dimPhysicianPK,dimDateServicePK,dimDatePostPK,dimCPTCodePK,dimPayerPK,dimTransactionPK,dimLocationPK,PatientNumber,...,MonthYear,Day,DayName,CptCode,CptDesc,CptGrouping,DiagnosisCode,DiagnosisCodeDescription,DiagnosisCodeGroup,PayerName
830,1081452351,5766231,215711,20200103,20191215,606645,58987,58168,786027,21373832,...,January 2020,3,Friday,3045F,Hg a1c level 7.0-9.0%,CPT Cat II Codes,E109,Type 1 diabetes mellitus,Diabetes mellitus,Commercial
831,1081589303,4995965,215711,20200103,20191215,603537,58987,50146,786027,21390646,...,January 2020,3,Friday,3044F,Hg a1c level lt 7.0%,CPT Cat II Codes,E109,Type 1 diabetes mellitus,Diabetes mellitus,Commercial
832,1108608022,4991714,216283,20191217,20191215,603537,58987,50146,785926,21386880,...,December 2019,17,Tuesday,3044F,Hg a1c level lt 7.0%,CPT Cat II Codes,E119,Type 2 diabetes mellitus,Diabetes mellitus,Commercial
833,1108608034,5513475,216894,20191217,20191215,603537,58987,50146,786027,21372285,...,December 2019,17,Tuesday,3044F,Hg a1c level lt 7.0%,CPT Cat II Codes,Z000,General medical examination,Persons encountering health services for exami...,Commercial
834,1108608043,5409738,215945,20191217,20191215,603537,58987,50146,786027,21372124,...,December 2019,17,Tuesday,3044F,Hg a1c level lt 7.0%,CPT Cat II Codes,E119,Type 2 diabetes mellitus,Diabetes mellitus,Commercial

## Inconsistent Data

Check for inconsistent data and address any that arises. As always, use code comments to illustrate your thought process.

In [18]:
# Look out for inconsistent data!
df['CptCode'].unique()
df['GrossCharge'].unique()
df['CPTUnits'].unique()

# I dont see any inconsistant data in the dataset.Hence no cleanup is needed.

# Export the cleaned data set to CSV
df.to_csv('dataset/csv/HealthcareDatasetClean.csv', index=False)

## Summarize Your Results

Make note of your answers to the following questions.

1. Did you find all four types of dirty data in your dataset?
   No , the dataset doesn't have missing and inconsistent data,but found irregular and unnecessary data.
   
2. Did the process of cleaning your data give you new insights into your dataset?
    Yes, while cleaning i found irregularities in the data having negative values in the Gross charge and CPTunit,this gave me good insights about the      dataset.
   
3. Is there anything you would like to make note of when it comes to manipulating the data and making visualizations?
   While manipulating i may need to filter rows based on conditions,sorting the columns, grouping data for aggregation,combine multiple dataframes         using join,remove or adjust outliers based on the analysis and finally export the data for visualizing.